.auth {
    margin: 4rem auto 0;
    width: 35%;
    height: 28rem;
    background-color: rgb(221, 221, 235);
    border-radius: 15px;
  }

  .title {
    width: 100%;
    background: linear-gradient(180deg, rgba(12, 137, 240, 0.7) 40%, rgba(169, 125, 219, 0.9) 70%), url(../ressources/article-img.jpg);
    color: aliceblue;
    background-position: left;
  }

  .title h1,
  .title h3 {
    text-align: center;
    padding: 3rem;
  }

  .form {
    margin: 3rem 0;
  }

   .form  input{
     width: 50%;
     padding: 5px;
     border: none;
     border-bottom: 2px solid saddlebrown;
   }

   .form  input:focus {
     width: 50%;
     padding: 5px;
     border: 1px solid rgb(0, 217, 255);
     border-bottom: 2px solid rgb(19, 47, 139);
   }

    .form label{
      width: 20%;
     
    }

  .field {
    display: flex;
    justify-content: center;
     padding: 5px;    
  }